<head>
    <link rel="stylesheet" href="/style/main.css">
</head>
<main> 
    <div class="container-register">
        <div>
            <h1 class="title">Register</h1>
        </div>
        <div class="registerform">
            <form action="/register" method="post" >
                <p><%= locals.error ? error : "" %></p>
                <input type="email" placeholder="Enter Your Email" class="uname" name="username" required> <br>
                <input type="password" placeholder="Enter Your Password" class="pwd" name="password" required > <br> 
                <div >
                    <button class="login-btn register" type="submit">Register</button>
                </div>
            </form>
        </div>
        <button class="Back" type="button"><a href="/" style="color: white;">Back</a></button>
    </div>
</main>